<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ajlyfe.lectureapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.UploadActivity"
            android:label="Upload" />
        <activity
            android:name=".Activity.TeacherClassOverview"
            android:label="My Classes"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.TeacherMainActivity"
            android:label="RecoLecture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TeacherClassView"
            android:label="My Classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StudentActivityMain"
            android:label="RecoLecture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StudentEnterClassCode"
            android:label="Join New Class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StudentClassPage"
            android:label="My Class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="RecoLecture"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegistrationScreen"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".Activity.RecordActivity"
            android:label="Record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.TestActivity" />
        <activity
            android:name=".Activity.ContactActivity"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BSOD"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bsod"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>