<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ajlyfe.lectureapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.UploadActivity"
            android:label="Upload" />
        <activity
            android:name=".Activity.TeacherClassOverview"
            android:label="My Classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TeacherMainActivity"
            android:label="RecoLecture"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.TeacherClassView"
            android:label="My Classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TeacherCreateClass"
            android:label="@string/title_activity_teacher_create_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StudentActivityMain"
            android:label="My Classes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.StudentEnterClassCode"
            android:label="Join New Class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StudentClassPage"
            android:label="@string/title_activity_student_class_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>